.x-y-center {
    justify-content: center;
    align-items: center;
}

.arrow-buttons {
    background-color: white;
    border: 0px;
}

.img-size {
    width: 1000px;
    height: 500px;
}

#container {
    padding-top: 100px;
    position: relative;
}

.dot-container {
    position: absolute;
    left: translate(-50%, -50%);
    bottom: 20px;
    height: 40px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.dot {
    margin-top: 12px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: blue;
}